.section-advantages{
    padding-top: 60px;
    padding-bottom: 362px;
}
.advantages_img {
  display: flex;
  justify-content: center;
}
.advantages_item{
    background-color: #FAFAFA;
    border : 1px solid #E1E1E1;
    padding: 43px 58px 26px 65px;
}
.advantages__icon{
    // padding-top: 30px;
    // padding-left: 53px;
    margin-bottom: -30px;
    margin-left: -12px;
}
.advantages__text {
    border-bottom : 1px solid #E1E1E1;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.58;
    text-align: center;
    color: #000000;
    
    // text-decoration:underline;
    // padding: 43px 58px 26px 65px;
  
   
  @media screen and (min-width: 768px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
  }
}
.advantages_title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
  text-align: center;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    color: #000000;
  }

  @media screen and (min-width: 1200px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.85;
    text-align: center;
    color: #000000;
  }
}
