<section class="section section-advantages">
    <div class="container" >
        <h2 hidden>Advantages</h2>
        <ul class="advantages list">
            <li class="advantages_img">
               
                <img
                srcset="
                ./images/customers/testimonials1-1.jpg 1x,
                ./images/customers/testimonials1-1@2x.jpg 2x" 
                src="./images/customers/testimonials1-1.jpg" alt="девушка1" width="85" height="85">
                
            </li>
            <li class="advantages_img">
               
                <img
                srcset="
                ./images/customers/testimonials1-3.jpg 1x,
                ./images/customers/testimonials1-3@2x.jpg 2x" 
                src="./images/customers/testimonials1-3.jpg" alt="девушка2" width="85" height="85">
                
            </li>
            <li class="advantages_img">
               
                <img
                srcset="
                ./images/customers/testimonials1-4.jpg 1x,
                ./images/customers/testimonials1-4@2x.jpg 2x" 
                src="./images/customers/testimonials1-4.jpg" alt="девушка3" width="85" height="85">
                
            </li>
            <li class="advantages_item">
                <!-- <svg class="dignity__icon" width="70" height="70" >
                    <use href="./images/icons/icons.svg#icon-astronaut"></use>
                </svg> -->
                <h3 class="advantages__text ">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. </h3>
                <p class="advantages_title" lang="en"> Emily, Los Angeles</p>
            </li> 
            
            <!-- <li class="dignity__item">
                <div class="dignity__logo dignity__logo--indent ">
                        <svg class="dignity__icon" width="70" height="70" >
                            <use href="./images/icons/icons.svg#icon-clock"></use>
                        </svg>
                </div> 
                <h3 class="dignity__title ">Пунктуальность</h3>
                <p class="dignity__text">Задача организации, в особенности же рамки и место обучения кадров влечет за собой.</p> 
            </li> -->